@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@300;400;500;600;700&display=swap');


$Softred: hsl(7, 99%, 70%);
$Yellow: hsl(51, 100%, 49%);
$Darkcyan: hsl(167, 40%, 24%);
$Darkblue: hsl(198, 62%, 26%);
$Darkmoderatedcyan: hsl(168, 34%, 41%);

$VeryDarkBlue: hsl(212, 27%, 19%);
$VeryDarkGrayishBlue: hsl(213, 9%, 39%);
$DarkGrayishBlue: hsl(232, 10%, 55%);
$GrayishBlue: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;;
    background-color: $White;
}

h1, h2, h3 {
    font-family: 'Fraunces', serif;
}

.display {
    width: calc(100% - 30%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    header {
        background-image: url(../images/desktop/image-header.jpg);
        background-repeat: no-repeat;
        background-size: 100%;

        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        .display {
            padding-top: 30px;
            #containerInfoHeader {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                nav {
                    ul {
                        display: flex;
                        list-style: none;
                        gap: 60px;
    
                        li {
                            padding: 10px 20px;
                            border-radius: 20px;
                            transition: 0.2s ease-in-out;
                            a {
                                color: $White;
                                font-weight: 500;
                                text-decoration: none;
                            }
    
                            &:hover {
                                background-color: rgba($color: $White, $alpha: 0.3);
                                
                            }
                        }
                    }
                    
                }
            }

            #Creative {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
    
                margin-top: 270px;
                margin-bottom: 200px;
    
                h1 {
                    font-size: 3.75rem;
    
                    text-transform: uppercase;
                    letter-spacing: 10px;
    
                    color: $White;
    
                    margin-bottom: 100px;
                }
                
            }
        }
        
    }

    #brand {
        grid-area: a1;
    }

    #imageBrand {
        grid-area: a2;
    }

    #imageAudience {
        grid-area: a3;
    }

    #audience {
        grid-area: a4;
    }

    #graphicDesign {
        grid-area: a5;
    }

    #photography {
        grid-area: a6;
    }

    #Apresentation {
        width: calc(100% - 30%);

        display: grid;

        grid-template-areas: "a1 a1 a1 a2 a2 a2"
                                 "a3 a3 a3 a4 a4 a4"
                                 "a5 a5 a5 a6 a6 a6";

        #brand, #audience {
            display: flex;
            justify-content: center;
            align-items: center;

            #InfoBrand {
                a {
                    &::before {
                        background-color: rgba($color: $Yellow, $alpha: 0.3);
                        filter: blur(1px);
                    }
                }
            }

            #infoAudience {
                a {
                    &::before {
                        background-color: rgba($color: $Softred, $alpha: 0.3);
                        filter: blur(1px);
                    }
                }
            }

            #InfoBrand, #infoAudience {
                width: 500px;
                h2 {
                    font-size: 50px;
    
                    width: 500px;
                }
    
                p {
                    color: $DarkGrayishBlue;
    
                    margin-top: 30px;
                    margin-bottom: 30px;
    
                    line-height: 30px;
    
                    font-size: 20px;
                }

                a {
                    font-family: 'Fraunces', serif;
                    font-size: 16px;
        
                    text-transform: uppercase;
                    letter-spacing: 1px;
        
                    font-weight: 700;
        
                    text-decoration: none;
        
                    color: black;

                    position: relative;

                    &::before {
                        position: absolute;
                        content: '';
                        width: 0;
                        height: 10px;

                        left: -3px;
                        bottom: -5px;

                        border-radius: 5px;

                        transition: 0.3s ease-in-out;
                    }

                    &:hover {
                        &::before {
                            width: 130px;
                        }
                    }
                }
            }
        }

        #imageBrand, #imageAudience {
            img {
                height: 100%;
                width: 100%;
            }
            
        }

        #graphicDesign {
            background-image: url(../images/desktop/image-graphic-design.jpg);

            color: $Darkcyan;
        }

        #photography {
            background-image: url(../images/desktop/image-photography.jpg);

            color: $Darkblue;
        }

        #graphicDesign, #photography {
            background-repeat: no-repeat;
            background-size: cover;

            height: 600px;
            width: 100%;

            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;

            div {
                display: flex;
                flex-direction: column;
                align-items: center;

                width: 325px;

                margin-bottom: 60px;

                h3 {
                    margin-bottom: 20px;
                    font-size: 30px;
                }

                p {
                    text-align: center;
                    line-height: 25px;
                }
            }
        }
    }

    #clients {
        width: calc(100% - 30%);
        margin: 250px 0;

        h2 {
            text-align: center;

            margin-bottom: 100px;

            text-transform: uppercase;
            letter-spacing: 10px;

            color: $GrayishBlue;
        }

        #containerClients {
            display: flex;
            justify-content: center;
            gap: 100px;

            div {
                text-align: center;
                img {
                    border-radius: 100%;

                    margin-bottom: 50px;
                }

                p {
                    width: 350px;
                    line-height: 30px;
                    font-size: 18px;

                    color: $DarkGrayishBlue;

                    font-weight: 600;

                    margin-bottom: 80px;
                }

            }

            b {
                font-family: 'Fraunces', serif;
                font-weight: 700;
                font-size: 18px;
            }

            span {
                display: block;

                margin-top: 10px;

                font-size: 14px;

                font-weight: 600;

                color: $GrayishBlue;
            }
        }
    }

    #images {
        display: flex;
        width: 100%;

        img {
            width: calc(100%/4);
        }
    }

    footer {
        width: 100%;

        background-color: #90D4C5;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 150px 0;

        #logo {
            margin-bottom: 50px;
        }

        nav {
            ul {
                list-style: none;
                display: flex;

                gap: 80px;

                li {
                    a {
                        color: $Darkcyan;
                        text-decoration: none;

                        transition: 0.3s ease-in-out;

                        font-size: 18px;
                        font-weight: 500;

                        &:hover {
                            color: $White;
                        }
                    }
                }
            }
        }

        #icons {
            list-style: none;

            display: flex;
            align-items: center;
            gap: 30px;

            margin-top: 100px;
        }
    }
}

@media screen and (max-width: 1550px) {
    main {
        header {
            padding-bottom: 5%;
            .display {
                #Creative {
                    margin-bottom: 0;
                    margin-top: 15%;
                    
                    h1 {
                        font-size: 2.5rem;
                    }

                    img {
                        width: 5%;
                    }
                }
            }
        }
        #Apresentation {
            #brand #InfoBrand, #audience #infoAudience, #graphicDesign div, #photography div {
                width: 70%;
                h2{
                    font-size: 1.2rem;
                    width: 100%;
                }

                p {
                    font-size: 0.9rem;
                }
            }
            
        }

        #clients {
            #containerClients {
                gap: 50px;
                div {
                    img {
                        width: 30%;
                    }

                    p {
                        font-size: 1rem;
                        width: 200px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px){
    main {
        header {
            .display {
                nav {
                    width: 40px;
                    height: 20px;
                    position: relative;
                    cursor: pointer;
    
                    ul * {
                        display: none;
                    }
    
                    ul {
                        width: 100%;
                        height: 3px;
    
                        background-color: white;
                        
    
                        &::before {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 3px;
    
                            bottom: 0;
                            background-color: white;
                        }
    
                        &::after {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 3px;
    
                            bottom: 40%;
                            background-color: white;
                        }
                    }
                }

                #Creative {
                    h1 {
                        font-size: 1.5rem;
                    }
                    
                }
            }
            
        }

        #Apresentation {
            grid-template-areas: "a2 a2 a2 a2 a2 a2"
                                 "a1 a1 a1 a1 a1 a1"
                                 "a3 a3 a3 a3 a3 a3"
                                 "a4 a4 a4 a4 a4 a4"
                                 "a5 a5 a5 a5 a5 a5"
                                 "a6 a6 a6 a6 a6 a6";
            
            justify-content: center;
            justify-items: center;

            #brand #InfoBrand, #audience #infoAudience, #graphicDesign div, #photography div {
                h2{
                    font-size: 1.2rem;
                    width: 100%;
                }

                p {
                    font-size: 0.9rem;
                }

                h3 {
                    font-size: 1.1rem;
                }
            }

            #imageBrand img , #imageAudience img {
                width: 400px;
                height: 400px;
            }

            #photography, #graphicDesign {
                height: 400px;
                width: 400px;

                background-size: cover;
            }

            #InfoBrand, #infoAudience {
                padding: 40px 0;
            }
        }

        #clients {
            #containerClients {
                flex-direction: column;

                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    img {
                        width: 10%;
                    }

                    p {
                        font-size: 1.2rem;
                        width: 300px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px){
    main {
        header {
            height: 100%;
            padding-bottom: 1%;
            .display {
                #containerInfoHeader {
                    #logo {
                        img {
                            width: 60%;
                        }
                    }
                }
                #Creative {
                    h1 {
                        font-size: 1.4rem;
                        text-align: center;
                        line-height: 35px;

                        margin-bottom: 20px;
                    }
                    
                }
            }
            
        }

        #Apresentation {
            width: 100%;

            #imageBrand img , #imageAudience img, #photography, #graphicDesign {
                width: 100%;
                height: 400px;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    main {
        header {
            .display {
                #Creative {
                    img {
                        display: none;
                    }
                    
                }
            }    
        }

        #clients {
            h2 {
                font-size: 1.1rem;
            }
        }

        footer {
            .display {
                nav {
                    ul {
                        gap: 40px; 
                    }
                }
            }
        }
    }
}

